body {
    background-image:
        linear-gradient(rgba(148, 201, 251, 0.38), rgba(148, 202, 251, 0.38)),
        url("images/cunhantungmu.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/* BỐ CỤC TỶ LỆ MÀN HÌNH VÀ HIỆU ỨNG*/

.nen {
    background-color: #f3f9fb;
}
/* PHẦN NAVBAR */
.navbar {
    border: 0 solid;
    margin-top: clamp(10px, 3vw, 30px);
    margin-right: clamp(5px, 3vw, 30px);
    margin-left: clamp(5px, 3vw, 50px);
    font-size: clamp(18px, 3vw, 34px);
}
.danhsach {
    margin-left: clamp(5px, 6vw, 160px);
    font-size: clamp(12px, 3vw, 24px);
}

.link {
    background: linear-gradient(to right, #a78bfa, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
.danhsach {
    font-size: clamp(8px, 3vw, 28px);
    font-weight: 560;
}

/* CHỮ H1 */
h1 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: clamp(45px, 7vw, 150px);
    color: #fff;
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(139, 92, 246, 0.8);
    margin-bottom: 10px;
    z-index: 2;
    animation: fadeInUp 1.2s ease-out;
}
#duoichutieude {
    text-align: center;
    font-size: clamp(12px, 3vw, 35px);
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
}
.chutieude {
    z-index: 2;
    animation: fadeInUp 1.2s ease-out;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 999;
}
.loiyeuthuong {
    display: inline-flex;
    gap: 15vw;
    margin-top: clamp(10px, 8vw, 80px);
    color: white;
}
.bamloiyeuthuong {
    border: solid #a78bfa;
    padding: clamp(2px, 2vw, 20px);
    border-radius: clamp(10px, 8vw, 40px);
    background-color: #a78bfa;
    display: flex;
    display: inline-block;
}
.linkloiyeuthuong {
    color: white;
    font-size: clamp(14px, 3vw, 25px);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*  CHỮ THƯỚC PHIM KỶ NIỆM */
hr {
    background-color: #f3f9fb;
}
.thuocphimkyniem {
    margin-top: clamp(80px, 20vw, 180px);
    text-align: center;
    font-size: clamp(40px, 7vw, 80px);
    margin-bottom: 50px;
    position: relative;
    font-weight: 700;
    background: linear-gradient(to right, #a78bfa, #ec4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.thuocphimkyniem::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: clamp(250px, 45vw, 600px);
    height: 4px;
    background: linear-gradient(to right, #8b5cf6, #ec4899);
    border-radius: 5px;
}

/* PHẦN ALBUM */
.test { 
    
    width: clamp(20px, 20vw, 120px);

    border-radius:  clamp(5px, 3vw, 15px);
    cursor: pointer;
    transition: all 1s ease;
}

.anhtesst { 
    align-items: center;
    gap: clamp(7px, 4vw, 20px);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.khoianhtest { 
    margin-top: clamp(70px, 20vw, 120px);
}
